@import "../../_globalColor";

#events {
  background-color: $lightBackground1;
}

.square {
  width: 440px;
  height: 430px;
  background: $textColorDark;
  border-radius: 4px;
  box-shadow: 0px 20px 50px $darkBoxShadow;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 30px;
}

.square:hover {
  box-shadow: 0 20px 40px $lightBoxShadow;
}

.event-header-text {
  font-size: 56px;
  font-weight: 400;
}

.event-subtitle {
  text-transform: uppercase;
  margin-bottom: 40px;
}

.event-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.event-main-div {
  display: flex;
}

.event-image-div > img {
  max-width: 100%;
  height: auto;
}

.event-text-div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 90px 40px;
  margin-top: 20px;
}

.subTitle {
  color: $subTitle;
}

.events-section {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px 0px;
  margin: 0px auto;
  margin-top: 2rem;
}

.events-section > * {
  flex: 1;
  margin-bottom: 30px;
}

// Dark Mode
.dark-mode {
  #events {
    background-color: $darkBackground;
  }
}

/* Media Query */
@media (max-width: 1380px) {
  .event-header-text {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .event-header-text {
    font-size: 30px;
    text-align: center;
  }
  .event-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
    margin-bottom: 30px;
  }
  .event-text-div {
    gap: 40px 20px;
  }
}

@media screen and (max-width: 480px) and (min-width: 300px) {
  .event-text-div {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
  }
} 