@import "../../_globalColor";

.testimonials-header-text {
  font-size: 56px;
  font-weight: 400;
}

.testimonials-subtitle {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.testimonials-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.testimonials-main-div {
  display: flex;
}

.testimonials-text-div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 90px 40px;
  margin-top: 20px;
}

.subTitle {
  color: $subTitle;
}

/* Media Query */
@media (max-width: 1380px) {
  .testimonials-header-text {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .testimonials-header-text {
    font-size: 30px;
    text-align: center;
  }
  .testimonials-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
    margin-bottom: 30px;
  }
  .testimonials-text-div {
    gap: 30px 20px;
  }
}

@media screen and (max-width: 480px) and (min-width: 300px) {
  .testimonials-text-div {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
  }
} 